/* Location Section (class = "location") */
.location {
    padding: 0 30px 0 30px;
    background-color: #0a1e1d;
    text-align: center;
}

.location a {
    color: #304c5a;
    text-decoration: none;
    font-weight: bold;
}
